.vscode
/articles/
/new_words_of_each_article/
build
dist
*.spec
__pycache__
exe
old.txt
new_words_of_each_article/Hobbies.txt
new_words_of_each_article/How to grow old.txt
new_words_of_each_article/Three Days to see(excerpts).txt
new_words_of_each_article/youth1.txt
