{
    "CONFIG_PATH": "FAIDK.config",
    "MAIN_PATH": "./",
    "NEW_WORDS_PATH": "new.txt",
    "OLD_WORDS_PATH": "old.txt",
    "ARTICLES_PATH": "articles/",
    "OLD_ARTICLES_PATH": "old_articles/",
    "NEW_WORDS_EACH_ARTICLE_PATH": "new_words_of_each_article/",
    "LEMMATIZATION_PATH": "lemmatization-en.txt",
    "LEMMATIZATION_MODE": "list",
    "LEMMATIZATION_MODE_AVAILABLE": "['None,'list','NLTK','both']",
    "SPLIT_EVERY": "100"
}