{
    "CONFIG_PATH": "FAIDK.config",
    "MAIN_PATH": "./",
    "NEW_WORDS_PATH": "new.txt",
    "OLD_WORDS_PATH": "old.txt",
    "ARTICLES_PATH": "articles/",
    "OLD_ARTICLES_PATH": "old_articles/",
    "NEW_WORDS_EACH_ARTICLE_PATH": "new_words_of_each_article/",
    "LEMMATIZATION_PATH": "lemmatization-en.txt",
    "LEMMATIZATION_MODE": "list",
    "LEMMATIZATION_MODE_AVAILABLE": "['None,'list','NLTK','both']",
    "SPLIT_EVERY": "100",
    "SPECIAL_PUNCTUATION": ";:\uff1b\uff1a\u2018\u2019\u201c\u201d'\"\u3010\u3011\\[\\]@#$%^&*()\uff01@#\uffe5%\u2026\u2026&*\uff08\uff09",
    "KEY_FOR_KNOW": "a",
    "KEY_FOR_NOT": "s",
    "KEY_FOR_QUIT": "q"
}